<section>
  <app-poke-chips (sortChange)="onSortChange($event)"></app-poke-chips>

  @if(isLoading) {
  <div class="spinner-container">
    <mat-spinner diameter="48" color="accent" />
  </div>
  } @else if (error) {
  <div class="error-container">
    <div class="error">
      <p class="error-message">
        Unable to fetch Pokemons. Please check your connection and try again.
      </p>
      <button
        mat-raised-button
        color="accent"
        class="reload-pokemons"
        (click)="loadPokemons()"
      >
        Try again
      </button>
    </div>
  </div>
  } @else {
  <div class="poke-list">
    @for(pokemon of pokemons; track pokemon.id) {
    <app-poke-card [pokemon]="pokemon"></app-poke-card> }
    <button
      mat-raised-button
      color="accent"
      class="reload-pokemons"
      (click)="loadPokemons()"
    >
      Fetch new ones
    </button>
  </div>
  }
</section>
