.poke-list {
  max-width: 42rem;
  margin: 0rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 1rem;
}

.reload-pokemons {
  grid-column: span 2;
  max-width: 100%;
  position: sticky;
  bottom: 1rem;
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
}

.spinner-container,
.error-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  max-width: 90%;
}

.error-icon {
  font-size: 4rem;
}

.error-message {
  font-size: 1.1rem;
  color: var(--mat-sys-on-surface);
  max-width: 25rem;
}
